**/.DS_Store
**/.ipynb_checkpoints

# Datasets de propedeuticos anteriores
Datasets/Prop_coinflip.xlsx
Datasets/Prop_coinflip.numbers
Datasets/Prop_coinflip.csv
Datasets/Prop_coinflip_full.csv
Datasets/Prop_coinflip_2024B.csv
Datasets/Prop_coinflip_2024B_2.xlsx
Datasets/CardioGoodFitness_tm195.csv
Datasets/CardioGoodFitness_tm498.csv
Datasets/CardioGoodFitness_tm798.csv
