**/.DS_Store

# Datasets de propedeuticos anteriores
Datasets/Prop_coinflip.xlsx
Datasets/Prop_coinflip.numbers
Datasets/Prop_coinflip.csv
Datasets/Prop_coinflip_full.csv
Datasets/Prop_coinflip_2024B.csv
Datasets/Prop_coinflip_2024B_2.xlsx
